//@import-normalize;

// variable couleur
$color-primary: #9356dc;
$color-primary-light: #f5edff;
$color-secondary: #ff79da;
$color-ternary: #99e2d0;
$color-ternary-dark: #39a98e;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$icon-color: #7e7e7e;
$dark-grey: #353535;

/*mobile first*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.operation-title, .restaurant-title {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 25px;
  height: 65px;
  box-shadow: 0px 1px 6px $icon-color;
  position: relative;
  z-index: 10;
  &__logo {
    height: 27px;
  }
  &__return-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    font-size: 20px;
    color: $dark-grey;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: $grey;
  padding: 20px;
  &__icon {
    margin-right: 15px;
    color: $dark-grey;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-grey;
  &__title {
    font-size: 23px;
    padding: 20px 70px;
    text-align: center;
  }
  &__subtitle {
    text-align: center;
    padding: 0 40px 35px 40px;
  }
}

.button {
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  padding: 0 20px;
  margin: 0 0 57px 0;
  font-size: 15px;
  box-shadow: 1px 7px 9px $icon-color;
}

.operation,
.restaurant,
.footer {
  padding: 0 20px;
}

.operation {
  margin-top: 53px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.operation-title {
  margin-bottom: 25px;
}

.operation-card {
  display: flex;
  height: 75px;
  background-color: $light-grey;
  margin: 11px 0 11px 10px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 1px 7px 9px $grey;
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: $color-primary;
    border-radius: 50%;
    z-index: 1;
    color: white;
    margin: 0 0 0 -10px;
    font-size: 14px;
  }
  &__icon,
  &__text {
    margin-left: 20px;
  }
  &__icon {
    font-size: 18px;
    color: $icon-color;
  }
  &__icon--color {
    color: $color-primary;
  }
  &__text {
    font-weight: bold;
  }
}

.operation-card--color {
  background-color: $color-primary-light;
}

.restaurant {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
}

.restaurant-title {
  margin: 50px 0 30px 0;
}

.restaurant-card {
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 7px 9px $grey;
  &__image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  &--new {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 5px 10px;
    background-color: $color-ternary;
    font-size: 14px;
    color: $color-ternary-dark;
    font-weight: bold;
    border-radius: 2px;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding-bottom: 3px;
  }
  &__icon {
    font-size: 23px;
  }
}

.restaurant-card:last-child {
  margin-bottom: 60px;
}

.footer {
  background-color: $dark-grey;
  &__logo {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    color: white;
    padding: 20px 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  &__link {
    display: flex;
    padding-bottom: 5px;
  }
  &__link:last-child {
    padding-bottom: 30px;
  }
  &__icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    i {
      font-size: 13px;
      color: white;
    }
  }
}

// menus

.menu {
  position: relative;
}

.menu-image {
  width: 100%;
}

.menu-body {
  margin-top: -40px;
  position: relative;
  background-color: $light-grey;
  padding: 0 20px;
  border-radius: 40px 40px 0 0;
  // position: relative;
  // top: -40px;
}

.food  {
  // position: absolute;
  display: flex;
  z-index: 2;
  // margin: -40px 0 0 0;
  padding-top: 20px;
  // height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  
  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 26px;
  }
  &__icon {
    font-size: 24px;
    padding: 0 15px 10px 0;
    
  }
}

// section:first-of-type {
//   padding: 60px 20px 0 20px;
// }

.dishes-title {
  font-size: 13px;
  font-weight: 300;
}

.dishes-card {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  box-shadow: 1px 7px 9px $grey;
  margin-bottom: 15px; 
  padding: 10px;
  &__title {
    margin-bottom: 3px;
  }
  &__price {
    font-weight: bold;
    color: $dark-grey;
    padding-right: 10px;
  }
}

