.button {
  width: 220px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(
    to bottom right,
    $color-secondary 0%,
    $color-primary 100%
  );
  padding: 15px;
  margin: 0 0 57px 0;
  font-size: 15px;
  box-shadow: 1px 8px 4px $grey;
  &:active {
    background: linear-gradient(
      to bottom right,
      lighten($color-secondary, 10%) 0%,
      lighten($color-primary, 10%) 100%
    );
    box-shadow: 1px 8px 10px #d6d6d6;
  }
}

.button--small {
  width: 180px;
}

@media (min-width: 1024px) {
  .button {
    &:hover {
      background: linear-gradient(
        to bottom right,
        lighten($color-secondary, 10%) 0%,
        lighten($color-primary, 10%) 100%
      );
      box-shadow: 1px 8px 10px #d6d6d6;
    }
  }
}
