// variable couleur
$color-primary: #9356dc;
$color-primary-light: #f5edff;
$color-secondary: #ff79da;
$color-ternary: #99e2d0;
$color-ternary-dark: #39a98e;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$icon-color: #7e7e7e;
$dark-grey: #353535;